<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnect" connectionString="Data Source=10.56.8.36;Database=P3_DB_2023_07;User Id=P3_PROJECT_USER_07;Password=OPENDB_07;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>